HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.metadata

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/logs/
/bin/

### 로그 파일 ###
*.log
spring-boot.log
vue-serve.log
src/vue-serve.log

### 임시 문서 ###
원가시스템/
src/원가SQL/*.backup

### Lock 파일 ###
.~lock.*
