<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dowinsys.cost.common.closingmonth.mapper.CommonMapper">
    <select id="isClosedMonth" parameterType="map" resultType="int">
        SELECT COUNT(1)
        FROM DOI_CLOSING_MONTH
        WHERE YYYYMM = #{yyyymm}
          AND IS_CLOSED = 'Y'
    </select>
</mapper>